header#center{
  text-align: center;
}
.featured-property{
  text-align: center;
}
.featured-property > p {
  width:800px;
  margin:0 auto;
  text-align:center;
}
.Name-tags{
  text-align:center;
  padding:10px;
  background-color: grey;
}
.details{
  display:flex;
  justify-content: center;
 
}
.details>div{
background:red;
float:left;
height:10px
width:25px;
}